<div class="box edit">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <p class="error"><%= error %></p>
  <%= form_tag sessions_path do |form| %>
    <div class="login-title">Login</div>
    <div class="field">
      <%= label_tag :email, nil, class: "label" %>
      <%= text_field_tag :email, nil, class: "input" %>
    </div>
    <div class="field">
      <%= label_tag :password, nil, class: "label" %>
      <%= password_field_tag :password, nil, class: "input" %>
    </div>
    <div class="actions">
      <%= submit_tag "Login", class: "button" %>
    </div>
    <%= link_to "Singup", signup_url, class: "login-redirect" %>
  <% end %>
</div>
