<div class="has-text-primary has-text-centered has-text-weight-bold is-size-4"><%= group.name %></div>
<div class="has-text-centered has-text-weight-bold group-subtitle"><%= t("groups.list_user") %> (<%= group.user_groups.length + 1 %>) : </div>
<table class="table is-fullwidth table-group-index">
  <tbody>
    <tr class="table-align-item">
      <th style="text-align: center;"><span><%= group.user.pseudo %></span></th>
    </tr>
    <% group.user_groups.each do |user_group|%>
      <tr class="table-align-item">
        <th style="text-align: center;"><span><%= user_group.user.pseudo %></span></th>
      </tr>
    <% end %>
  </tbody>
</table>
<% if deletable %>
  <div class="d-flex" style="justify-content: center;">
    <%= link_to t('groups.leave_group'), user_group_url(id: group.user_group(session[:user_id]).id, return_to: "groups#index"), method: :delete, class: "button", style: "color: white; background-color: red" %>
  </div>
<% end %>