<div class="survey-container">
  <a href="surveys/new">
    <div class="card">
      <div class="card-content">
        <div class="content content-add">
          <div class="add-survey"><%= t("surveys.add_survey") %></div>
        </div>
      </div>
    </div>
  </a>
  <% @surveys.each do |survey| %>
    <div class="card">
      <div class="card-content">
        <div class="content">
          <a href="surveys/<%= survey.id %>" class="data">
            <%= render "shared/survey_card_content", survey: survey %>
          </a>
          <% if survey.user_id == session[:user_id]%>
            <a href="surveys/<%= survey.id %>/edit" class="edit">
              <div class="button"><%= t('surveys.edit_survey') %></div>
            </a>
          <% else %>
            <div class="edit"></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>